@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {

    font-family: 'Open Sans', sans-serif;
    background-color: #0A0A0D;
    color: #fff;
}

header {
	min-width: 100%;
	width: 100%;
	max-width: 1200px;
	min-height: 600px;
	height: auto;
	margin: 0 auto;
	padding: 0;
	left: 0;
	background-image: url('../img/nlug-header.jpg');
	background-color: #333;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

header h1 {
	padding-top: 20px;
	text-align: center;
	color: #fff;
}

header h4 {
	text-align: center;
	color: #fff;
	font-family: 'Roboto Mono', monospace;
}

.fa-linux {
	color: #9ACD32;
}

a {
	color: #18a214;
}

a:hover {
	color: #35ec2f;
}

.articles {
  padding: 3rem 1.5rem;
  text-align: center;
}

.modal-content {
	margin: 0;
	padding: 0;
	background-color: #333;
}

.modal-scrollfix.modal-scrollfix {
    overflow-y: hidden;
}

.footer {
  background-color: #222225;
}

iframe {
	width: 100%;
	min-height: 250px;
	height: auto;
}

@media only screen and (max-width: 767px) {
  header {
    background-position: center; 
  }
}